/*body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f1e5;
    color: #4a2c2a;
    text-align: center;
}*/

.navbar {
    display: flex;
    background-size: contain;
    justify-content: top;
    background-image: url('Images/banner.jpg');
    background-color: #50376f;
    padding: 200px 20px;
    
}

.navbar a {
    color: rgb(241, 5, 52);
    text-decoration: none;
    font-size: 1.9em;
    margin: 100 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #ece9e4;
}


.title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    color: #6f4e37;
    margin-left: 25%;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.menu-item {

    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    max-width: 100%;
    border-radius: 10px;
}

.footer {
    background-color: #6f4e37;
    color: white;
    padding: 15px;
    margin-top: 10%;
}

.footer-content {
    font-size: 1em;
    justify-content: center;
    margin-left: 25%;
}

.footer a {
    color:skyblue;
    text-decoration: none;
    margin: 0 20px;

}

.footer a:hover {
    color: white;
}
